<header class="site-header" role="banner">
  <div class="wrapper siop-bar">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <img
        class="siop-bar-logo"
        src="{{ site.baseurl }}/assets/img/siop-2026-icon.png"
        width="48"
        height="48"
        alt="SIOP 2026"
      />
      <span class="siop-bar-copy">
        <span class="siop-bar-name">AI at the Bedside</span>
        <span class="siop-bar-meta">SIOP 2026 &middot; San Antonio</span>
      </span>
    </a>
  </div>
</header>
